<!-- views/controlPanel.ejs -->
<%- include('partials/header') %>
<div class="container mt-5">
  <div class="signBox">
    <h2>Session Started...</h2>

      <div class="card mt-5 bg-dark controlPanelCodeBox" style="width: 30rem;">
        <div class="card-body">
          <h4 class="card-title"><%= voteSession.title %></h4>
          <h6 class="card-subtitle mb-2 text-body-secondary text-muted"><i class="fa-regular fa-clock"></i> <%= voteSession.dateCreated.toDateString() %></h6>
          <h5 class="card-text">
            Code: <span class="text-warning"><%= voteSession.code %></span>
          </h5>
        </div>
      </div>

      <div class="mt-3 ml-3">
        <form action="/organizer/dashboard/questionPanel/<%= voteSession._id %>" method="POST">
            <button type="submit" class="btn btn-outline-warning">Start Taking Votes</button>
        </form>
    </div>
      


<div class="my-5">
  <h4>Participants (<strong class="text-warning" id="participantCount"><%= participant.length || 0%></strong>)</h4>
  <div id="participantList">
    <% if (participant.length > 0) { %>
      <ul class="dashboardListGroup">
        <% participant.forEach(participantEach => { %>
          <div class="btn btn btn-outline-info mb-1 text-white">
            <%= participantEach.name %>
            <%= participantEach.emoji %>
          </div>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No Participants Have Joined Yet</p>
    <% } %>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  // Join the session room
  socket.emit('joinRoom', { room: 'session_<%= voteSession.code %>' });

  // Listen for participantJoined event
  socket.on('participantJoined', (data) => {
    // Update participant count
    const participantCountElement = document.getElementById('participantCount');
    let count = parseInt(participantCountElement.innerText) + 1;
    participantCountElement.innerText = count;

    // Add new participant to the list
    const participantList = document.getElementById('participantList');
    const newParticipant = document.createElement('div');
    newParticipant.className = 'btn btn btn-outline-info mb-1 text-white';
    newParticipant.innerText = `${data.name} ${data.emoji}`;
    participantList.appendChild(newParticipant);
  });
</script>

<%- include('partials/footer') %>




