<!-- views/lobby.ejs -->
<%- include('partials/header') %>
<div class="container mt-5">
  <div class="signBox">
  <h2>Lobby</h2>
  <h4 class="text-warning"><i class="fa-solid fa-square-poll-vertical"></i> <%= voteSession.title %></h4>


  <div class="my-5">
    <h3>Participants (<strong class="text-warning"><%= participant.length || 0%></strong>)</h3>
    <% if (participant.length > 0) { %>
      <ul class="dashboardListGroup">
        <% participant.forEach(participantEach => { %>
            <div class="btn btn-lg btn-outline-warning mb-1 text-white">
                <%= participantEach.name %> 
                <%= participantEach.emoji %> 
            </div>
            
        <% }) %>
      </ul>
    <% } else { %>
      <p>No Participants Have Joined Yet</p>
    <% } %>
  </div>
</div>
</div>


<script>
  setTimeout(function() {
      window.location.reload(1);
  }, 1000);  // Refresh every 5 seconds (5000 ms)
</script>









<%- include('partials/footer') %>



