<!-- views/questionPanelEnd.ejs -->
<%- include('partials/header') %>
<div class="container mt-5">
  <div class="signBox">
  <h4 class="text-warning"><i class="fa-solid fa-square-poll-vertical"></i> <%= voteSession.title %></h4>


  <h1 class="text-light"><i class="fa-solid fa-flag-checkered"></i> End of the Vote</h1>

  <br><br>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title"><strong>See Complete Results</strong></h5>
          <p class="card-text">Takes you to a page containing this session's vote results with a sharable link.</p>
          

          <form action="/share/<%= voteSession.code %>" method="POST">
            <button type="submit" class="btn btn-info"><i class="fa-regular fa-file-lines"></i> Results</button>
          </form>


        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-dark">
        <div class="card-body">
          <h5 class="card-title"><strong>See AI-Generated Summary</strong></h5>
          <p class="card-text">Shows a text-based summary of this voting session with the help of OpenAI.</p>
          
          <a href="/organizer/ai-summary/<%= voteSession._id %>" 
            class="btn btn-danger" 
            id="ai-summary-btn"><i class="fa-solid fa-wand-magic-sparkles"></i> Summary</a>
        </div>
      </div>
      <p id="loading-message" class="text-warning mt-2" style="display: none;"><i class="fa-solid fa-spinner"></i> It will take a few seconds...</p>
    </div>
  </div>

 

  <br><br><br>


  <a href="/organizer/dashboard" class="btn btn-outline-warning">Go To Dashboard</a>
  

  </div>
</div>




<script>
  const aiSummaryBtn = document.getElementById('ai-summary-btn');
  const loadingMessage = document.getElementById('loading-message');

  aiSummaryBtn.addEventListener('click', (e) => {
    loadingMessage.style.display = 'block'; 
  });
</script>



<%- include('partials/footer') %>