<!-- views/questionPanelEnd.ejs -->
<%- include('partials/header') %>
<div class="container mt-5">
  <div class="signBox">
  <h4 class="text-warning"><i class="fa-solid fa-square-poll-vertical"></i> <%= voteSession.title %></h4>


  <h1 class="text-light"><i class="fa-solid fa-flag-checkered"></i> End of the Vote</h1>

  <br><br>

  <form action="/share/<%= voteSession.code %>" method="POST">
    <button type="submit" class="btn btn-info">See Complete Results</button>
  </form>
  <br>

  <a href="/organizer/ai-summary/<%= voteSession._id %>" 
    class="btn btn-danger" 
    id="ai-summary-btn">See AI-Generated Summary</a>
 <p id="loading-message" class="text-warning mt-2" style="display: none;">Please Wait. It will take a few seconds...</p>
 
  <br><br>

  <br><br><br>


  <a href="/organizer/dashboard" class="btn btn-outline-warning">Go To Dashboard</a>
  

  </div>
</div>




<script>
  const aiSummaryBtn = document.getElementById('ai-summary-btn');
  const loadingMessage = document.getElementById('loading-message');

  aiSummaryBtn.addEventListener('click', (e) => {
    loadingMessage.style.display = 'block'; 
  });
</script>



<%- include('partials/footer') %>